<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <!---- <h1>Simple if condition</h1>
        {% if a > 9 %}
            <h1> a is max</h1>
        {% endif %}---->
      <!----  <h1>if-else condition</h1>
        {% if a > b %}
            <h1>a is max</h1>
        {% else %}
            <h1>b is max</h1>
        {% endif %}--->
     <!----   <h1>Simple if-elif-else condition</h1>
        {% if a > b and a > c %}
            <h1>a is max</h1>
        {% elif b > a and b > c %}
            <h1>b is max</h1>
        {% else %}
            <h1> c is max</h1>
        {% endif %}-->
        <h1>Nested-if condition</h1>
        {% if a > b%}
            {% if a > c %}
                <h1>a is max</h1>
            {% else %}
                <h1>c is max</h1>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1>b is max</h1>
            {% else %}
                <h1>c is max </h1>
            {% endif %}
        {% endif %}
    </center>
</body>
</html>